@model IEnumerable<ItroducereDateCuptor.Blum>
@{
    ViewData["Title"] = "Home Page";
}

<div id="formularButoane" class="row">
    <form method="post" enctype="multipart/form-data" asp-controller="home" asp-action="ImportFile">
        <div class="form-group col-lg-3">
            <div class="col-md-10">
                <p>Apasa butonul de mai jos pentru a da afara urmatoarea bucata:</p>
                <input type="submit" value="Laminare" formaction="Home/IntroducereInLaminare" />
            </div>
        </div>
        <div class="form-group col-lg-3">
            <div class="col-md-10">
                <p>Apasa butonul de mai jos pentru a da retur urmatoarea bucata:</p>
                <input type="submit" value="Retur" formaction="Home/ReturBlum" />
            </div>
        </div>
        <div class="form-group col-lg-3">
            <div class="col-md-10">
                <p>Apasa butonul de mai jos pentru a reseta counterul de bare:</p>
                <input type="submit" value="Reset counter" formaction="Home/ResetCountBar" />
            </div>
        </div>
        <div class="form-group col-lg-3">
            <div class="col-md-10">
                <p>Pentru ascundere comenzi botoane apasa butonul:</p>
                <button id="butonAscundere">Acundere butoane</button>
            </div>
        </div>
    </form>
</div>
<h3>Bare date afara: <span id="nrBareDateAfara">@ViewBag.CounterBareDateAfara</span></h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diametru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sarja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnizor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDatAfara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRetur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOraLaminare)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody id="corpTabel">
            @foreach (var item in Model)
            {
                <tr class="@BackgroundColour(item)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diametru)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sarja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Furnizor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Calitate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDatAfara)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRetur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataOraLaminare)
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@functions {
public string BackgroundColour(Blum blum)
{
    if (blum == null) return "";
    if (blum.IsDatAfara || blum.IsRetur)
        return "background_green";
    return "";
}
}

@* Scripturi librarie SignalR, plus signalR create de mine, si site.js *@
@section scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalR.js"></script>
    <script src="~/js/site.js"></script>
}